/**
 * Layout
 */


body {
	.content-area {
		@include media-breakpoint-up(xl) {
			@include make-col(9);
		}

		@include media-breakpoint-up(xxl) {
			flex: 0 0 auto;
			width: calc(100% - 300px);
		}
	}

	.sidebar,
	.sidebar-blog {
		@include media-breakpoint-up(xl) {
			@include make-col(3);
		}

		@include media-breakpoint-up(xxl) {
			flex: 0 0 auto;
			width: 300px;
		}
	}

	&.error404 .content-area,
	&.full-width .content-area,
	&.page-template-default .content-area,
	&.page-template-template-homepage-v1 .content-area,
	&.page-template-template-homepage-v3 .content-area,
	&.page-template-template-homepage-v4 .content-area,
	&.page-template-template-homepage-v5 .content-area,
	&.page-template-template-homepage-v6 .content-area,
	&.page-template-template-homepage-v7 .content-area,
	&.page-template-template-homepage-v8 .content-area,
	&.page-template-template-homepage-v9 .content-area,
	&.page-template-template-page-blank .content-area {
		@include media-breakpoint-up(xl) {
			@include make-col(12);
		}
	}

	&.left-sidebar,
    &.page-template-template-homepage-v2,
    &.page-template-template-page-sidebar-left {
        .content-area {
            order: 1;
        }
	}
}

.col2-set {
	@include make-row();

	.col-1,
	.col-2 {
		@include make-col-ready;

		@include media-breakpoint-up(md) {
			@include make-col(6);
		}
	}
}

.woocommerce-cart,
.woocommerce-checkout {
    @include media-breakpoint-up(xxl) {
        .site-content .container {
            max-width: 1200px;
        }
    }
}

@include media-breakpoint-down(xl) {
	.site-content .sidebar {
		background-color: $white;
		position: fixed;
		top: 0;
		height: 100%;
		transition: all .3s;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		z-index: 999;
		padding-top: 20px;
		opacity: 0;
		visibility: hidden;
	}

	.site-content.active-hh-sidebar .sidebar {
		left: 0;
		opacity: 1;
		visibility: visible;
		box-shadow: 0 0 17px -1px rgba(0,0,0,.66);
	}

	#sidebar > aside {
		width: 100%;
	}
}

@include media-breakpoint-down(md) {
	.site-content .sidebar {
		left: -280px;
		width: 280px;
	}
}

@include media-breakpoint-between(md, xl) {
	.site-content .sidebar {
		left: -350px;
		width: 350px;
	}
}
